# ------------------------------
# ✅ Común
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
migrate_working_dir/

# ------------------------------
# ✅ IDEs
.idea/
*.iml
*.ipr
*.iws

# VSCode (opcional: destapa si quieres ignorar configs locales)
# .vscode/

# ------------------------------
# ✅ Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Documentación generada
**/doc/api/

# Obfuscation y symbolication
app.*.symbols
app.*.map.json

# Último ID de build (iOS)
**/ios/Flutter/.last_build_id

# ------------------------------
# ✅ Builds Android
/android/app/debug
/android/app/profile
/android/app/release

# ------------------------------
# ✅ Builds Windows/macOS/Linux
windows/runner/Debug/
windows/runner/Release/
windows/runner/Profile/
windows/runner/*.ilk
windows/runner/*.pdb
windows/runner/*.exe
windows/runner/*.lib

# Firebase SDK grande descargado
build/windows/x64/firebase_cpp_sdk_windows_*.zip
build/windows/x64/extracted/

